<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9edc0056-4042-453d-b320-b0a2cb984cfb" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>True</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="50079c7e-08b9-4ea1-bc6a-2ab2b67f8e71">home</Template>
      <Template Key="4cf47659-aa2e-49a4-9088-2ca1022905c0">master</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6fbb44b6-c07c-456e-836b-2914b924d4d3" SortOrder="0">contentPage</ContentType>
    <ContentType Key="f3cfbe8b-086b-4c28-ab09-315d15df2628" SortOrder="1">data</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9ad0388d-b012-432b-9458-275c34696241</Key>
      <Name>Block List</Name>
      <Alias>blockList</Alias>
      <Definition>bbea4831-23e1-43d5-9c30-42a9739d7a0d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>52143830-8de0-45d2-a74f-3b9221db8d6a</Key>
      <Caption>Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>