@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	var content = (ContentModels.ContactForm)Model.Content;
}

<div class="row mt-5">
    <div class="col-md-12">
        <h1 class="text-light text-center">@content.ContactFormTitle</h1>

    
        <h3 class="text-light text-center">@content.ContactFormMacro</h3>
    </div>
</div>
