@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.HeroBanner)Model.Content;
    // if (@content.Value("heroImage") != null)
    // {
    // 	var imgsrc = @content.Value("heroImage");

    // }
    // else
    // { }
    // var settings = (ContentModels.HeroBanner)Model.Settings;
}
<div class="row">
    <div class="col">
        <div class="overflow-hidden" style="background-color:#EB5D2A">
            <div class="container-fluid col-xxl-8">
                <div class="row flex-lg-nowrap align-items-center g-5">
                    <div class="order-lg-1 w-100">
                        <img style="clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);" src="@content.HeroImage.Url()" />
                    </div>
                    <div class="col-lg-6 col-xl-5 text-center text-lg-start pt-lg-5 mt-xl-4 ">
                        <div class="lc-block mb-4">
                            <div editable="rich">
                                <h1 class="fw-bold ">@content.HeroText</h1>
                            </div>
                        </div>
                    </div>

                </div><!-- /lc-block -->
            </div>
        </div>
    </div>
</div>