<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bbea4831-23e1-43d5-9c30-42a9739d7a0d" Alias="Block List Module" Level="1">
  <Info>
    <Name>Block List Module</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "22430703-eac5-4ae2-ae77-51eda7a289d8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "9191389c-bdc0-4fd6-b7a4-3a641386ee48",
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListElements/HeroBanner/HeroBanner.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "4c408d6d-aa04-44f9-b158-c24f11fa5806",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "2ebbb15b-56be-4c5b-a464-0c1c0957b225",
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListElements/TwoColumn/TwoColumn.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0cb3c972-aff5-430a-9869-821152362831",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Contact Form",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>