<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ea43688c-2f3a-450f-9605-81e0a8f85920" Alias="Contact Form Container - Textbox" Level="1">
  <Info>
    <Name>Contact Form Container - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>