<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5d4febf-975d-4c49-9732-169eaf7bfd9f" Alias="Contact Form Settings - Background Color - Color Picker" Level="1">
  <Info>
    <Name>Contact Form Settings - Background Color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"bcbcbc\",\"label\":\"bcbcbc\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"f4cccc\",\"label\":\"f4cccc\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"fce5cd\",\"label\":\"fce5cd\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"d9ead3\",\"label\":\"d9ead3\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"cfe2f3\",\"label\":\"cfe2f3\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>