<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c2f12a4-e9ae-455b-b87c-76ff6203ad37" Alias="Hero Banner Settings - Background color - Color Picker" Level="1">
  <Info>
    <Name>Hero Banner Settings - Background color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"bcbcbc\",\"label\":\"bcbcbc\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"f4cccc\",\"label\":\"f4cccc\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"fff2cc\",\"label\":\"fff2cc\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"d9ead3\",\"label\":\"d9ead3\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>