<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5220b63f-9044-40a7-acb9-0636b64fd7c4" Alias="Menu List" Level="1">
  <Info>
    <Name>Menu List</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>