<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b2b1696-9c51-4661-ac5b-61a016731329" Alias="Site Settings - Site Name - Textbox" Level="1">
  <Info>
    <Name>Site Settings - Site Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>