<?xml version="1.0" encoding="utf-8"?>
<DataType Key="948a9766-6de0-4e94-b948-7e98a385929d" Alias="Two Column Settings - Background Color - Color Picker" Level="1">
  <Info>
    <Name>Two Column Settings - Background Color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"bcbcbc\",\"label\":\"bcbcbc\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"f4cccc\",\"label\":\"f4cccc\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"fff2cc\",\"label\":\"fff2cc\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"d9ead3\",\"label\":\"d9ead3\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"d0e0e3\",\"label\":\"d0e0e3\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>