<?xml version="1.0" encoding="utf-8"?>
<DataType Key="898faeeb-8308-4120-881f-56f47c50778f" Alias="Two Column - Title - Textbox" Level="1">
  <Info>
    <Name>Two Column - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>