<?xml version="1.0" encoding="utf-8"?>
<Media Key="d18e32b4-c1a7-40d9-80b9-4ca2cd252d05" Alias="Austronaut Online" Level="2">
  <Info>
    <Parent Key="91963b7c-6a17-4637-bce1-6574cc3db871">images</Parent>
    <Path>/images/AustronautOnline</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T22:16:04</CreateDate>
    <NodeName Default="Austronaut Online" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wizi3unh/austronaut-online.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>