<?xml version="1.0" encoding="utf-8"?>
<Media Key="2287fa3a-f5d1-4325-8ede-391048aa0021" Alias="Tirongraphics Onlinesolutions Cmsimage" Level="2">
  <Info>
    <Parent Key="91963b7c-6a17-4637-bce1-6574cc3db871">images</Parent>
    <Path>/images/TirongraphicsOnlinesolutionsCmsimage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-06T22:16:04</CreateDate>
    <NodeName Default="Tirongraphics Onlinesolutions Cmsimage" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ht3ioiwr/tirongraphics-onlinesolutions-cmsimage.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>