<?xml version="1.0" encoding="utf-8"?>
<Media Key="400c5808-0ce6-4aca-a500-e4e855bacd9b" Alias="Tironlogo" Level="2">
  <Info>
    <Parent Key="91963b7c-6a17-4637-bce1-6574cc3db871">images</Parent>
    <Path>/images/Tironlogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-05T14:53:30</CreateDate>
    <NodeName Default="Tironlogo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bzmayqhg/tironlogo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>