<style>
    .text {
        position: relative;
        display: block;
        cursor: pointer;
        line-height: 1.5;
        font-family: Calibri;
        margin: 20px 0;
        font-weight: 300;
    }
</style>
<h5>Hero Banner Content</h5>

<div ng-controller="bleImageController as vm" ng-click="block.edit()" class="blockelement__draggable-element">
    <img ng-src="{{vm.imageUrl}}" />
</div>


<div ng-controller="richtextController as vm" class="blockelement__draggable-element" ng-click="block.edit()">
    <div class="text" ng-bind-html="vm.richTextContent" style="background-color: #{{ vm.backgroundColor }}">
    </div>
</div>
