<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7bf6e36-fc2e-428a-be0c-dba4703ed5f5" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-11-06T19:52:08</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="50079c7e-08b9-4ea1-bc6a-2ab2b67f8e71">home</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/aba8f6599cc4425e9e8f299ad258db3f",
        "settingsUdi": "umb://element/1d67716565ad4c8fb7f845765773be26"
      },
      {
        "contentUdi": "umb://element/9695b0b6383b45969eecbf0585ed7040",
        "settingsUdi": "umb://element/fd65961bc8f648f1a96b259b758714df"
      },
      {
        "contentUdi": "umb://element/015dc02e56bf4a4287bb5118a6610fe0",
        "settingsUdi": "umb://element/c560509fa2ed4c948c138e975d9d5d4b"
      },
      {
        "contentUdi": "umb://element/328ad06acc554126a03899aa8fcb7a0f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "22430703-eac5-4ae2-ae77-51eda7a289d8",
      "udi": "umb://element/aba8f6599cc4425e9e8f299ad258db3f",
      "heroImage": "[\r\n  {\r\n    \"key\": \"e5c2b424-3ca2-4223-84f0-cb9097d6441b\",\r\n    \"mediaKey\": \"f44f91f3-9dd1-4879-8d2c-a3cfdda090ca\"\r\n  }\r\n]",
      "heroText": "LORUM IPSUM\nTITLE PLACED HERE\nABOUT THIS ARTICLE\nCOOL MAN test"
    },
    {
      "contentTypeKey": "4c408d6d-aa04-44f9-b158-c24f11fa5806",
      "udi": "umb://element/9695b0b6383b45969eecbf0585ed7040",
      "image": "[\r\n  {\r\n    \"key\": \"297a3551-4086-4ab7-8934-fba6f43a32f6\",\r\n    \"mediaKey\": \"d18e32b4-c1a7-40d9-80b9-4ca2cd252d05\"\r\n  }\r\n]",
      "title": "Strategic UX Design",
      "text": "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like.",
      "imagePosition": "[\"Left\"]"
    },
    {
      "contentTypeKey": "4c408d6d-aa04-44f9-b158-c24f11fa5806",
      "udi": "umb://element/015dc02e56bf4a4287bb5118a6610fe0",
      "image": "[\r\n  {\r\n    \"key\": \"ddca8877-781c-4b7d-bc61-15ee7ae5159a\",\r\n    \"mediaKey\": \"2287fa3a-f5d1-4325-8ede-391048aa0021\"\r\n  }\r\n]",
      "title": "Eye Catching Interfaces",
      "text": "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like.",
      "imagePosition": ""
    },
    {
      "contentTypeKey": "75a4619c-3648-4cae-8e86-9ecbac2bf823",
      "udi": "umb://element/328ad06acc554126a03899aa8fcb7a0f",
      "contactFormTitle": "Contact Us",
      "contactFormContent": "<p> </p>\n<?UMBRACO_MACRO macroAlias=\"ContactForm\" />\n<p> </p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "9191389c-bdc0-4fd6-b7a4-3a641386ee48",
      "udi": "umb://element/1d67716565ad4c8fb7f845765773be26",
      "backgroundColor": "{\r\n  \"value\": \"f4cccc\",\r\n  \"label\": \"f4cccc\",\r\n  \"sortOrder\": 1,\r\n  \"id\": \"2\"\r\n}"
    },
    {
      "contentTypeKey": "2ebbb15b-56be-4c5b-a464-0c1c0957b225",
      "udi": "umb://element/fd65961bc8f648f1a96b259b758714df",
      "backgroundColor": "{\r\n  \"value\": \"fff2cc\",\r\n  \"label\": \"fff2cc\",\r\n  \"sortOrder\": 2,\r\n  \"id\": \"3\"\r\n}"
    },
    {
      "contentTypeKey": "2ebbb15b-56be-4c5b-a464-0c1c0957b225",
      "udi": "umb://element/c560509fa2ed4c948c138e975d9d5d4b"
    }
  ]
}]]></Value>
    </blockList>
  </Properties>
</Content>