<?xml version="1.0" encoding="utf-8"?>
<Content Key="f0ec8bf4-1271-4563-9134-5d02026d284a" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2023-11-07T00:35:45</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <logo>
      <Value><![CDATA[[
  {
    "key": "82977356-517e-45a9-ac25-fd29aa62f056",
    "mediaKey": "400c5808-0ce6-4aca-a500-e4e855bacd9b"
  }
]]]></Value>
    </logo>
    <menu>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/a7bf6e36fc2e428abe0cdba4703ed5f5"
  },
  {
    "name": "Our Journey",
    "udi": "umb://document/a7bf6e36fc2e428abe0cdba4703ed5f5"
  },
  {
    "name": "Contact Us",
    "url": "#"
  }
]]]></Value>
    </menu>
    <siteName>
      <Value><![CDATA[Test]]></Value>
    </siteName>
  </Properties>
</Content>