<?xml version="1.0" encoding="utf-8"?>
<Content Key="0250aa03-2333-4557-bd13-92b97f322b82" Alias="Thank You Page" Level="2">
  <Info>
    <Parent Key="a7bf6e36-fc2e-428a-be0c-dba4703ed5f5">Home</Parent>
    <Path>/Home/ThankYouPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-11-07T10:44:56</CreateDate>
    <NodeName Default="Thank You Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5ecb0d8c-8abd-4240-9a99-612cf6ad44cc">contentPage</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[<h3 class="text-light mt-5" style="text-align: center;">Thank You for your message. We get back to you asap!</h3>]]></Value>
    </pageContent>
  </Properties>
</Content>